@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #059669;
    --color-primary-hover: #047857;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
   animation: marquee 25s linear infinite;
}

/* Category horizontal scrollbar */
.category-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.category-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

.category-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}


@keyframes heroContentReveal {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content-active {
  animation: heroContentReveal 0.8s ease-out forwards;
}



